{% extends "base.html" %}
{% block content  %}
<div class="page-header">
    <div class="row align-items-center">
       <div class="col">
          <h3 class="page-title">Student Apply Leave</h3>
          <ul class="breadcrumb">
             <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
             <li class="breadcrumb-item active">Studend Apply Leave</li>
          </ul>
       </div>
       <div class="col-auto text-right float-right ml-auto">
          <button  class="btn btn-primary mr-2" data-toggle="modal" data-target="#exampleModal" type="button"><i class="fas fa-pray"></i>&nbsp;&nbsp;Leave Apply History</button>
       </div>
    </div>
 </div>

<div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <form
            method="post"
            action="{% url 'student_leave_save' %}"
          >
            {% csrf_token %}
            <div class="col-12">
              <h5 class="form-title"><span>Apply for leave</span></h5>
            </div>

             {% include "includes/messages.html" %}

            <div class="col-sm-11">
              <div class="form-group">
                <label>leave date</label>
                <input
                  type="date"
                  name="leave_date"
                  class="form-control"
                  required
                />
              </div>

              <div class="col-sm-11">
                <div class="form-group">
                  <label>leave message</label>
                  <textarea style="height:255px"
                  class="form-control" name="leave_message" required
                ></textarea>
                </div>


            <div class="col-12">
              <button type="submit" class="btn btn-primary">
                 Apply for leave
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>




  {% comment %} model {% endcomment %}

  <!-- Button trigger modal -->
{% comment %} <button type="button" class="btn btn-primary" >
    Launch demo modal
  </button> {% endcomment %}

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Leave Apply History</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <div class="col-sm-12">
                  <div class="card card-table">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable">
                          <thead>
                            <tr>
                              <th>Date</th>
                              <th>Message</th>
                              <th class="text-right">Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for i in student_leave_history %}
                            <tr>
                              <td>{{i.date}}</td>
                              <td>{{i.message}}</td>
                              <td class="text-right">
                                <div class="actions">
                                 
                                  {% if i.status == 0 %}
                                  <span class="badge badge-info">Request are pending</span>
                                  {% elif i.status == 1 %}
                                  <span class="badge badge-success">Accepted</span>
                                  {% else %}
                                  <span class="badge badge-danger">Rejected</span>
                                  {% endif %}


                                </div>
                              </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

{% endblock  %}

