{% extends 'base.html' %}
{% block content %}
<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">View Attendance</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="subjects.html">Attendance</a></li>
                    <li class="breadcrumb-item active">View Attendance</li>
                </ul>
            </div>
        </div>
    </div>

    {% include "includes/messages.html" %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    {% if not action %}
                    <!-- Show Subject and Session Year selection form -->
                    <form action="?action=get_student" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>View Attendance</span></h5>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Subject</label>
                                    <select class="form-control" name="subject_id" required>
                                        <option value="">Select Subject</option>
                                        {% for subject in subjects %}
                                        <option value="{{ subject.id }}">{{ subject.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Session Year</label>
                                    <select class="form-control" name="session_id" required>
                                        <option value="">Select Session Year</option>
                                        {% for session_year in session_years %}
                                        <option value="{{ session_year.id }}">{{ session_year.session_start }} - {{ session_year.session_end }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Show Dates</button>
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <!-- Show Attendance Date selection form -->
                    <form action="{% url 'Staff_view_all_student_attendance' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Subject Information</span></h5>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Subject</label>
                                    <input type="text" name="subject_id" class="form-control" value="{{ selected_subject.id }}" hidden>
                                    <input type="text" class="form-control" value="{{ selected_subject.name }}" readonly>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Session Year</label>
                                    <input type="text" class="form-control" value="{{ selected_session_year.session_start }} - {{ selected_session_year.session_end }}" readonly>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Date Of Attendance</label>
                                    <select class="form-control" name="attendance_date" required>
                                        <option value="">Select Date</option>
                                        {% for attendance in attendance_dates %}
                                        <option value="{{ attendance.attendance_date|date:"Y-m-d" }}">{{ attendance.attendance_date|date:"Y-m-d" }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">View Attendance</button>
                            </div>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

















{% comment %} {% extends 'base.html' %}
{% block content %}
<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">View Attendance</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="subjects.html">Attendance</a></li>
                    <li class="breadcrumb-item active">View Attendance</li>
                </ul>
            </div>
        </div>
    </div>

    {% include "includes/messages.html" %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    {% if not action %}
                    <!-- Show Subject and Session Year selection form -->
                    <form action="?action=get_student" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>View Attendance</span></h5>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Subject</label>
                                    <select class="form-control" name="subject_id" required>
                                        <option value="">Select Subject</option>
                                        {% for subject in subjects %}
                                        <option value="{{ subject.id }}">{{ subject.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Session Year</label>
                                    <select class="form-control" name="session_id" required>
                                        <option value="">Select Session Year</option>
                                        {% for session_year in session_years %}
                                        <option value="{{ session_year.id }}">{{ session_year.session_start }} - {{ session_year.session_end }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Show Dates</button>
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <!-- Show Attendance Date selection form -->
                    <form action="{% url 'Staff_view_all_student_attendance' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Subject Information</span></h5>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Subject</label>
                                    <input type="text" name="subject_id" class="form-control" value="{{ selected_subject.id }}" hidden>
                                    <input type="text" class="form-control" value="{{ selected_subject.name }}" readonly>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Session Year</label>
                                    <input type="text" class="form-control" value="{{ selected_session_year.session_start }} - {{ selected_session_year.session_end }}" readonly>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Date Of Attendance</label>
                                    <select class="form-control" name="attendance_date" required>
                                        <option value="">Select Date</option>
                                        {% for attendance in attendance_dates %}
                                        <option value="{{ attendance.attendance_date }}">{{ attendance.attendance_date }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">View Attendance</button>
                            </div>
                        </div>
                    </form>
                    
                    {% comment %} <form action="{% url 'Staff_view_all_student_attendance' %}?action=submit_attendance" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <h5 class="form-title"><span>Subject Information</span></h5>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Subject</label>
                                    <input type="text" class="form-control" value="{{ selected_subject.name }}" readonly>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Session Year</label>
                                    <input type="text" class="form-control" value="{{ selected_session_year.session_start }} - {{ selected_session_year.session_end }}" readonly>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group">
                                    <label>Date Of Attendance</label>
                                    <select class="form-control" name="attendance_date" required>
                                        <option value="">Select Date</option>
                                        {% for attendance in attendance_dates %}
                                        <option value="{{ attendance.attendance_date }}">{{ attendance.attendance_date }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">View Attendance</button>
                            </div>
                        </div>
                    </form> {% endcomment %}
                    {% comment %} {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}  {% endcomment %}
