{% extends 'base.html' %}
{% block content %}
<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Students</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Students</li>
                </ul>
            </div>
        </div>
    </div>
    {% include "includes/messages.html" %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable"">
                            <thead>
                                <tr>
                                    <th>Student ID</th>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Attendance Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for record in attendance_records %}
                                <tr>
                                    <td>{{ record.student_id.admin.id }}</td>
                                    <td><img class="avatar-img rounded-circle" src="{{ record.student_id.admin.profile_pic.url }}" alt="Profile Picture" width="50" style="width: 50px; height: 50px;"> {{ record.student_id.admin.first_name }} {{ record.student_id.admin.last_name }}</td>
                                    <td>{{ record.attendance_id.attendance_date|date:"Y-m-d" }}</td>
                                    <td>
                                        {% comment %} {% if record.status == "Present" %}
                                        <span class="badge badge-success">P</span>
                                        {% elif record.status == "Absent" %}
                                        <span class="badge badge-danger">A</span>
                                        {% else %}
                                        <span class="badge badge-warning">L</span>
                                        {% endif %} {% endcomment %}

                                        {% if record.status == "present" %}
                                        <span style="display: inline-block; width: 40px; height: 40px; background-color: green; color: white; text-align: center; line-height: 40px; border-radius: 5px; margin-left:50px; font-weight:600;">P</span>
                                        {% elif record.status == "absent" %}
                                        <span style="display: inline-block; width: 40px; height: 40px; background-color: red; color: white; text-align: center; line-height: 40px; border-radius: 5px; margin-left:50px; font-weight:600;">A</span>
                                        {% elif record.status == "leave" %}
                                        <span style="display: inline-block; width: 40px; height: 40px; background-color: yellow; color: white; text-align: center; line-height: 40px; border-radius: 5px; margin-left:50px; font-weight:600;">L</span>
                                        {% endif %}

                                    </td>
                                    <td>
                                        <a href="{% url 'Staff_View_single_student_attendance' record.student_id.id %}" class="btn btn-info">View All Attendance</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

