{% load active_link_tags %}
<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      {% if user.user_type == '1' %}
      <ul>
        <li class="menu-title">
          <span>Main Menu</span>
        </li>
        <li class="{% active_link 'hod_home' 'active' %}">
          <a href="{% url 'hod_home' %}"
            ><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a
          >
        </li>
        <li class="submenu {% active_link 'add_student' 'active' %} {% active_link 'view_student' 'active' %}">
          <a href="#"
            ><i class="fas fa-user-graduate"></i> <span> Students</span>
            <span class="menu-arrow"></span
          ></a>
          <ul>
            <li><a href="{% url 'add_student' %}">Add Student</a></li>
            <li><a href="{% url 'view_student' %}">View Student</a></li>
          </ul>
        </li>
        <li class="submenu {% active_link 'add_staff' 'active' %} {% active_link 'view_staff' 'active' %}">
          <a href="#"
            ><i class="fas fa-chalkboard-teacher"></i> <span>Staff</span>
            <span class="menu-arrow"></span
          ></a>
          <ul>
            <li><a href="{% url 'add_staff' %}">Add Staff</a></li>
            <li><a href="{% url 'view_staff' %}">View Staff</a></li>
          </ul>
        </li>
        <li class="submenu {% active_link 'add_course' 'active' %} {% active_link 'view_course' 'active' %}">
          <a href="#"
            ><i class="fas fa-building"></i> <span> Course</span>
            <span class="menu-arrow "></span
          ></a>
          <ul>
            <li><a href="{% url 'add_course' %}">Add Course</a></li>
            <li><a href="{% url 'view_course' %}">View Course</a></li>
          </ul>
        </li>
        <li class="submenu {% active_link 'add_subject' 'active' %} {% active_link 'view_subject' 'active' %}">
          <a href="#"
            ><i class="fas fa-book"></i> <span> Subjects</span>
            <span class="menu-arrow"></span
          ></a>
          <ul>
            <li><a href="{% url 'add_subject' %}">Add Subject</a></li>
            <li><a href="{% url 'view_subject' %}">View Subject</a></li>
          </ul>
        </li>
        <li class="submenu {% active_link 'add_session' 'active' %} {% active_link 'view_session' 'active' %}">
          <a href="#"
            ><i class="fas fa-book-reader"></i> <span>Session</span>
            <span class="menu-arrow"></span
          ></a>
          <ul>
            <li><a href="{% url 'add_session' %}">Add Sessios</a></li>
            <li><a href="{% url 'view_session' %}">View Session</a></li>
          </ul>
        </li>
        <li>
          <a href="{% url 'hod_view_attendance' %}"
            ><i class="fas fa-eye"></i> <span>View attendace</span></a
          >
        </li>
        <li>
          <a href="{% url 'staff_leave_view' %}"
            ><i class="fa fa-university"></i> <span>Teacher Leave</span></a
          >
        </li>
        <li>
          <a href="{% url 'student_leave_view' %}"
            ><i class="fa fa-university"></i> <span>Student Leave</span></a
          >
        </li>
        <li>
          <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
        </li>
      </ul>
      {% elif user.user_type == '2' %}
       <ul>
        <li class="menu-title">
          <span>Main Menu</span>
        </li>
        <li class="{% active_link 'staff_home' 'active' %}">
          <a href="{% url 'staff_home' %}"
            ><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
        </li>
        <li class="{% active_link 'staff_attendance_option' 'active' %}">
          <a href="{% url 'staff_attendance_option' %}"
            ><i class="fas fa-calendar-alt"></i> <span>Take Attendace</span></a>
        </li>

        <li class="{% active_link 'hod_home' 'active' %}">
          <a href="{% url 'update_attendance' %}"
            ><i class="fas fa-edit"></i> <span>Update Attendace</span></a>
        </li>

        <li>
          <a href="{% url 'staff_view_attendance' %}"><i class="fa fa-poll"></i> <span>View Attendance</span></a>
        </li>
        {% comment %} <li class="{% active_link 'hod_home' 'active' %}">
          <a href=""
            ><i class="fas fa-poll-h"></i> <span>Add Result</span></a>
        </li> {% endcomment %}
        <li class="{% active_link 'staff_apply_leave' 'active' %}">
          <a href="{% url 'staff_apply_leave' %}"
            ><i class="fas fa-envelope-open"></i> <span>Apply For Leave</span></a>
        </li>
        <li>
          <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
        </li>

      </ul>



      {% else  %}
      <ul>
        <li class="menu-title">
          <span>Main Menu</span>
        </li>

        <li class="{% active_link 'student_home' 'active' %}">
          <a href="{% url 'student_home' %}"
            ><i class="fas fa-holly-berry"></i> <span>Dashboard</span></a>
        </li>

        <li>
          <a href="{% url 'student_view_attendance' %}"><i class="fa fa-poll"></i> <span>View Attendance</span></a>
        </li>
        <li>
          <a href="{% url 'all_subject_attendance' %}"><i class="fa fa-book"></i> <span>All Subject Attendace</span></a>
        </li>

        <li>
          <a href="{% url 'student_leave' %}"><i class="fa fa-pray"></i> <span>Apply For Leave</span></a>
        </li>
        <li>
          <a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> <span>Logout</span></a>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</div>
