{% extends 'base.html' %}
{% block content %}
<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col">
                <h3 class="page-title">Students</h3>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                    <li class="breadcrumb-item active">Students</li>
                </ul>
            </div>
        </div>
    </div>
    {% include "includes/messages.html" %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Subject</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>View All Attendance</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in students %}
                                <tr>
                                    <td>{{ student.student_id }}</td>
                                    <td>
                                        {% if student.profile_pic %}
                                        <img class="avatar-img rounded-circle" src="{{ student.profile_pic }}" alt="{{ student.name }}" style="width: 50px; height: 50px;">
                                        {{ student.name }}
                                        {% else %}
                                        No Image
                                        {% endif %}
                                    </td>
                                    <td>{{student.selected_subject}}</td>
                                    <td>{{ student.attendance_date }}</td>
                                    <td>
                                        {% if student.status == "present" %}
                                        <span style="display: inline-block; width: 40px; height: 40px; background-color: green; color: white; text-align: center; line-height: 40px; border-radius: 5px;">P</span>
                                        {% elif student.status == "absent" %}
                                        <span style="display: inline-block; width: 40px; height: 40px; background-color: red; color: white; text-align: center; line-height: 40px; border-radius: 5px;">A</span>
                                        {% elif student.status == "leave" %}
                                        <span style="display: inline-block; width: 40px; height: 40px; background-color: yellow; color: black; text-align: center; line-height: 40px; border-radius: 5px;">L</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'view_single_student_attendance' student.student_id %}" class="btn btn-sm bg-success-light mr-2"  style="width: 130px; height: 30px;">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
